.overlay-close {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 1em 2.5em;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #222;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    transform: translate(-50%, -50%);
}
.overlay-close.is-open {
    opacity: 1;
    visibility: visible;
    color: #fff;
}

.overlay01 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
}
.overlay01.is-open {
    opacity: 1;
    visibility: visible;
}

.overlay02 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform: scale(0.2);
}
.overlay02.is-open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.overlay03 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform: scaleY(0);
}
.overlay03.is-open {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.overlay04 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform: translateY(-100%);
}
.overlay04.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.overlay05 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    transform: translateX(-100%);
}
.overlay05.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.overlay06 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    animation: 0.3s linear overlay06-close;
}
.overlay06.is-open {
    opacity: 1;
    visibility: visible;
    animation: 0.3s linear overlay06-open;
}
@keyframes overlay06-open {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    100% {
        transform: scaleY(1);
        transform-origin: top;
    }
}
@keyframes overlay06-close {
    0% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

.overlay07 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
    animation: 0.3s linear overlay07-close;
}
.overlay07.is-open {
    opacity: 1;
    visibility: visible;
    animation: 0.3s linear overlay07-open;
}
@keyframes overlay07-open {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}
@keyframes overlay07-close {
    0% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.overlay08,
.overlay08::before,
.overlay08::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
}
.overlay08 {
    opacity: 0;
    visibility: hidden;
}
.overlay08::before,
.overlay08::after {
    content: "";
    background: rgba(0, 0, 0, 0.45);
}
.overlay08::before {
    transform: translateY(-100%);
}
.overlay08::after {
    transform: translateY(100%);
}
.overlay08.is-open {
    opacity: 1;
    visibility: visible;
}
.overlay08.is-open::before,
.overlay08.is-open::after {
    transform: translateY(0);
}

.overlay09,
.overlay09::before,
.overlay09::after {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
}
.overlay09 {
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
}
.overlay09::before,
.overlay09::after {
    left: 50%;
    content: "";
    width: 200%;
    margin-left: -100%;
    background: rgba(0, 0, 0, 0.45);
    transform: skewX(-30deg) translateX(-100%);
    transition: transform 0.3s linear 0.3s;
}
.overlay09.is-open {
    opacity: 1;
    visibility: visible;
}
.overlay09.is-open::before {
    transform: skewX(-30deg) translateX(0);
    transition: transform 0.3s linear;
}
.overlay09.is-open::after {
    transform: skewX(-30deg) translateX(0);
    transition: transform 0.3s linear 0.15s;
}

.overlay10 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s linear 0.6s;
}
.overlay10 div::before,
.overlay10 div::after {
    position: fixed;
    left: 0;
    content: "";
    width: 100%;
    height: calc(100% / 6);
    background: rgba(0, 0, 0, 0.7);
    transform: rotateX(-270deg);
    transition: 0.3s linear;
}
.overlay10 div:nth-child(1)::before {
    top: 0;
}
.overlay10 div:nth-child(1)::after {
    top: calc(100% / 6);
    transition-delay: 0.1s;
}
.overlay10 div:nth-child(2)::before {
    top: calc(100% / 6 * 2);
    transition-delay: 0.2s;
}
.overlay10 div:nth-child(2)::after {
    top: calc(100% / 6 * 3);
    transition-delay: 0.3s;
}
.overlay10 div:nth-child(3)::before {
    top: calc(100% / 6 * 4);
    transition-delay: 0.4s;
}
.overlay10 div:nth-child(3)::after {
    bottom: 0;
    transition-delay: 0.5s;
}
.overlay10.is-open {
    opacity: 1;
    visibility: visible;
    transition: 0.6s linear;
}
.overlay10.is-open div::before,
.overlay10.is-open div::after {
    transform: rotateX(0);
}
